{% extends 'base.html.twig' %}

{% block title %}Newsletter{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Newsletter</h1>
        <h4 class="my-3">
            Afin de recevoir les dernieres actualites du Musee,<br>inscrivez vous à notre Newsletter
        </h4>
        {{ form_start(form) }}

        {{ form_label(form, 'Email :', {'label_attr': {'class': 'text-primary'}}) }}
        
        {{ form_widget(form.email)}}

        {{ form_label(form, 'Nom :', {'label_attr': {'class': 'text-primary'}}) }}
        
        {{ form_widget(form.nom)}}

        {{ form_label(form, 'Prénom :', {'label_attr': {'class': 'text-primary'}}) }}
        
        {{ form_widget(form.prenom)}}

        {{ form_widget(form) }}

        {{ form_end(form) }}
        <br>
    </div>
</div>
{% endblock %}
