{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'un administrateur{% endblock %}

{% block body %}
<div class="container">

    <h1>Modification l'administrateur {{ user.firstName }} {{ user.lastName }} {{ user.email }}</h1>
    
    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}
 
</div>
{% endblock %} 