{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/social_button.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    p {
        font-size: 1.3em !important;
    }
    i{
        color:red
    }
</style>
{% endblock %}


{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Nous contacter</h1>
    </div>
    
    <div class="row">
        <div class="col-md-4 mx-4" style="background-color:#151515">
                <h4 style="color: white;" class="mt-4"><i class="fa fa-clock-o"></i>&nbsp;Horaires</h4>
                <p style="color: white; text-align: center;" class="mt-3">
                    <small>Du lundi au vendredi :</small>
                </p>
                <p style="text-align: center; color: white;">
                    <small>8h à 12h </small>
                </p>
                <p style="text-align: center; color: white;">
                    <small>14h à 18h</small>
                </p>
                <p style="text-align: center; color: white;">
                    <small>ou sur rendez-vous</small>
                </p>
                <p style="text-align: center; color: white;">
                    <small>Le samedi :</small>
                </p>
                <p style="text-align: center; color: white;">
                    <small>sur rendez-vous uniquement</small>
                </p>
                <h4 style="color: white;" class="mt-4"><i class="fa fa-phone"></i>&nbsp;02.49.09.43.93</h4>
                <h4 style="color: white;" class="mt-4"><i class="fa fa-envelope"></i>&nbsp;contact@le-musee.fr</h4>
                <h4 style="color: white;" class="mt-4"><i class="fa fa-map-marker"></i>&nbsp;Allée des Vinaigriers</h4>
                <h4 style="color: white; text-align:center">44000 Nantes</h4>
                {# <table class="table table-sm table-striped table-dark" style="background-color:#2A0A0A">
                    <tbody>
                        <tr>
                            <td>
                                <p class="mr-5" style="text-align: center;"><i class="fa fa-phone"></i>&nbsp;02.49.09.43.93</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: center;"><i class="fa fa-envelope"></i>&nbsp;contact@le-musee.fr</p>
                            </td>
                        </tr>
                        <tr><td>
                            <p class="mr-5" style="text-align: center;"><i class="fa fa-clock-o"></i>&nbsp;Horaires</p>
                            
                                <small><p style="text-align: center;">
                                    Du lundi au vendredi :
                                </p>
                                <p style="text-align: center;">
                                    8h à 12h
                                </p>
                                <p style="text-align: center;">
                                    14h à 18h
                                </p>
                                <p style="text-align: center;">
                                    ou sur rendez-vous
                                </p>
                                <p style="text-align: center;">
                                    Le samedi :
                                </p>
                                <p style="text-align: center;">
                                    sur rendez-vous
                                </p></small>
                        </td></tr>
                        <tr><td><p style="text-align: center;"><i class="fa fa-map-marker"></i>&nbsp;Allée des Vinaigriers</p><p style="text-align: center;">44000 Nantes</p></td></tr>
                    </tbody>
                </table> #}
        </div>
        <div class="col-md-7">
            <h4>Vous souhaitez nous faire part d'une remarque ou prendre contact ?</h4>
            
            <br>
            
            <h5>
                Une question ? Une demande particulière ? Un complément d’information sur l’un de nos véhicules, ou la restauration
                de
                votre véhicule ?
            </h5>
            
            <p class="my-4 text-primary">
                N’hésitez pas à nous contacter via le formulaire ci-dessous, nous vous répondrons dans les plus brefs délais.
            </p>
            
            <p class="my-4 text-primary">
                Nous vous remercions de l’intérêt que vous nous portez.
            </p>
            
            {{ form_start(form) }}
            
            {{ form_label(form, 'Nom :', {'label_attr': {'class': 'text-primary'}}) }}
            
            {{ form_widget(form.nom)}}

            {{ form_label(form, 'Courriel :', {'label_attr': {'class': 'text-primary'}}) }}
            
            {{ form_widget(form.courriel)}}

            {{ form_label(form, 'Téléphone :', {'label_attr': {'class': 'text-primary'}}) }}
            
            {{ form_widget(form.telephone)}}

            {{ form_label(form, 'Objet du message :', {'label_attr': {'class': 'text-primary'}}) }}
            
            {{ form_widget(form.objet)}}

            {{ form_label(form, 'Message :', {'label_attr': {'class': 'text-primary'}}) }}
            
            {{ form_widget(form.message)}}

            {{ form_widget(form) }}
            
            {{ form_end(form) }}
        </div>
    </div>

</div>
{% endblock %}
