
<h1>Vous avez reçu une demande d'information !</h1>

<h3>Nom : {{ contact.nom }}</h3>

<h3>Courriel : {{ contact.courriel }}</h3>

<h3>Téléphone : {{ contact.telephone }}</h3>

<h3>Objet du message : {{ contact.objet }}</h3>

<h3>Message : {{ contact.message }}</h3>

