{% extends 'base.html.twig' %}

{% block title %}Notre Parc{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h1 class="text-center my-5">Bienvenue dans notre Parc</h1>
        
        <h5 class="text-center my-5 ">
            Toute fois, si vous ne trouvez pas le véhicule de vos rêves dans ce listing,<br><br>
            n’hésitez surtout pas à nous <a href="..." style="color: rgb(214, 0, 0)"> contacter</a>. <br><br><br>
            
            Grace à nos collaborateurs à l’international et nos déplacements trimestriels,<br><br>
            nous pouvons trouver votre véhicule de collection restauré, ou à restaurer.<br><br><br>

            Nous sélectionnons pour vous, selon vos désirs et votre budget,<br><br>
            les véhicules correspondant à vos attentes.<br><br>
        </h5>
    </div>
    <div class="row">
        {% for voiture in voitures %}
            <div class="col-md-4 my-2">
                <div class="card border-secondary mb-3">
                    <div class="card-header text-center">
                        {{ voiture.marque }} {{ voiture.modèle }} {{ voiture.type }}, <span>{{ voiture.prix }}&euro;</span><br><small>{{ voiture.état }}</small>
                    </div>
                    {# <img src="{{ voiture.coverImage }}" class="d-block w-100" style="height: 180px; width: auto; display: block" alt="Responsive image" alt="..."> #}
                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-interval="3500" data-ride="false">
                        <div class="carousel-inner">
                            {% for image in images %}
                                <div class="carousel-item active">
                                    <img src="{{ image.url }}" class="d-block w-100" style="height: 180px; width: auto; display: block" alt="Responsive image" alt="...">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Voiture d'exception</h4>
                        <p class="card-text">{{ voiture.Introduction }}</p>
                        <a href="#" class="btn btn-primary">En savoir plus !</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
