{% extends 'admin/base.html.twig' %}

{% block title %}Administration des voitures{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-3 float-left">Gestion des voitures</h1>

        <a href="{{ path('voiture_add') }}"><button type="button" class="btn btn-primary my-3  float-right">Ajouter une voiture</button></a>

        <table class="table table-hover">
            <thead class="bg-primary ">
                <tr>
                    <th>Photo</th>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Carburant</th>
                    <th>Année</th>
                    <th>Prix</th>
                    <th>Date d'ajout</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for voiture in voitures %}
                {% set showVoiture = path('voiture_edited_show',{'slug': voiture.slug}) %}
                {% set editVoiture = path('voiture_edit',{'slug': voiture.slug}) %}
                {% set removeVoiture = path('voiture_delete',{'slug': voiture.slug}) %}
                <tr>
                    <td>
                        <img src="/uploads/{{voiture.coverImage}}" alt="{{voiture.slug}}" class="avatar-micro mr-2">
                    </td>
                    <td>{{voiture.marque}}</td>
                    <td>{{voiture.modele}}</td>
                    <td>{{voiture.carburant}}</td>
                    <td>{{voiture.annee}}</td>
                    <td>{{voiture.prix}}</td>
                    <td>
                        Le {{voiture.createAt | date('d/m/y')}} à {{voiture.createAt | date('H:i')}}
                    </td>
                    <td style="max-width: 300px;">
                        <a href="{{showVoiture}}" class="btn btn-info">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a href="{{editVoiture}}" class="btn btn-success">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#mymodal{{loop.index0}}">
                                <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for voiture in voitures %}
        {% set editVoiture = path('voiture_edit',{'slug': voiture.slug}) %}
        {% set removeVoiture = path('voiture_delete',{'slug': voiture.slug}) %}
        <div class="modal fade" id="mymodal{{loop.index0}}" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Voulez-vous supprimer cette voiture ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <img src="/uploads/{{voiture.coverImage}}" alt="{{voiture.slug}}" class="avatar-micro text-center"> {{voiture.slug}}.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                        <a href="{{removeVoiture}}"><button type="button" class="btn btn-danger my-3  float-right">Supprimer la voiture</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock body %}